@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');


* {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

body {
  background-image: url('/img/bck.jpg');
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  margin: auto;
}

header h1 {
  font-size: 52px;
  margin: 20px 0;
  color: #c5c6c7;
  font-family: 'Neonderthaw', sans-serif;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

h3 {
  color: #c5c6c7;
}

.score-list {
  border: 1px solid #9a1750;
  border-radius: 12px;
  margin: 12px;
}

.scores {
  
}

.scores li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.scores li:nth-child(odd) {
  background-color: #376e6f;
  color: #fff;
  font-weight: bolder;
}

.scores li:nth-child(even) {
  background-color: #da7b93;
  color: #9a1750;
  font-weight: bolder;
}

.add {
  display: grid;
  grid-template-columns: 1fr;
}

.add h3 {
  margin-top: 20px;
}

.refresh-btn {
  background: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
  border-style: none;
  color:#fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 4px;
  border-radius: 10px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

form input {
  padding: 5px;
  border: none;
  border-radius: 25px;
  background-color: #c5c6c7;
}

.btn {
  align-self: end;
  background: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
  border-style: none;
  color:#fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 4px;
  border-radius: 10px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 10px 10px;
}

footer p {
  color: #c5c6c7;
}

@media only screen and (min-width: 678px) {
  main {
    padding: 100px 300px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  .scores-wrapper {
    flex: 2;
  }

  .scores li {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }

  .add {
    flex: 1;
  }

  footer {
    text-align: center;
  }
}
