* {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

body {
  background-color: rgb(88, 169, 196);
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  margin: auto;
}

header h1 {
  font-size: 35px;
  margin: 50px 0;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.score-list {
  border: 1px solid #000;
}

.scores {
  padding: 15px;
}

.scores li {
  padding: 5px;
}

.scores li:nth-child(odd) {
  background-color: #ddd;
}

.add {
  display: grid;
  grid-template-columns: 1fr;
}

.add h3 {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

form input {
  padding: 3px;
}

.btn {
  align-self: end;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 10px 10px;
}

@media only screen and (min-width: 678px) {
  main {
    padding: 100px 300px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  .scores-wrapper {
    flex: 2;
  }

  .add {
    flex: 1;
  }

  footer {
    text-align: center;
  }
}
